body {
  background-color: greenyellow;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.first-column {
  align-content: center;
  column-count: 2;
}

.second-column {
  align-content: left;
  column-count: 1;
}

footer {
  background-color: darkgreen;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  text-align: left;
  line-height: 250%;
  color: black;

}

.fas {
  text-decoration: none;
  color: lightgreen;
}

.header {
  color: green;
  font-weight: bold;
}

figcaption {
  font-style: italic;
}

.table {
  width: 560px;
  height: 315px;
}

.button {
  font-family: "Courier New", Courier, monospace;
}