body {
  background-color: greenyellow;
  font-family: "Courier New", Courier, monospace;
  column-count: 2;
}

.header,
h3,
h2 {
  color: green;
  font-weight: bold;
}

figcaption {
  font-style: italic;
}

.table {
  width: 560px;
  height: 315px;
}
