body {
  background-color: greenyellow;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  white-space: wrap;
  line-height: 1,5;

}

body::selection {
  background-color: lightgreen;
  color: darkgreen;
}

.site-menu {
  text-decoration: underline;
  color: black;
}

.first-column {
  align-content: center;
  column-count: 2;
}

.second-column {
  align-content: left;
  column-count: 1;
}

footer {
  background-color: darkgreen;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  text-align: left;
  line-height: 250%;
  color: black;

}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

.small-header {
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 0px;

}

.fas {
  text-decoration: none;
  color: lightgreen;
}

.header {
  color: green;
  font-family: 'Grape Nuts';
  font-weight: bold;
  text-shadow: 2px 2px 4px lightgreen, 4px 4px 6px black;
}

figcaption {
  font-style: italic;
}

.table {
  width: 560px;
  height: 315px;
  border: 1px solid;
  margin-left: 180px;
}

th {
  background-color: lightgreen;
  color: white;
}

tr:nth-child(odd) {
  background-color: darkgreen;
}

th,
td {
  border-bottom: solid 1px darkgreen;
  border-right: solid 1px darkgreen;
  border-left: solid 1px darkgreen;
}

.button {
  font-family: "Courier New", Courier, monospace;
}

